*html{
    margin: 0;
    position: fixed;
    top: 50000px
}
.box {
    height: 10px;
    padding-top:50px ;
    padding-left: 20px;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 20px;
}
.box-1 h1 {
    padding-left:100px;
}
.box-1 p {
    padding-left: 100px;
}
hr{
    padding left: 100px;
}
input {
    background-color: magenta;
}
input[type=tex]{
    background-color: #e7460e;
}
input[name=email]{
    background-color: bisque;
}
input [type=numbur] [name=age] {
    background-color: aquamarine;
}

